.form-check-input {
    border: 0.2px solid; /* Add a solid border with primary color */
    background-color: #cccfd13d; /* Add a background color */
    cursor: pointer;          /* Add a pointer cursor for interactivity */
    border-radius: 0.25rem;   /* Slightly round the corners */

}
/* Add hover effect */
.form-check-input:hover {
    box-shadow: 0 0 4px rgba(13, 110, 253, 0.75); /* Glow effect on hover */
    border-color: #0056b3; /* Darker border color on hover */
}