{% extends 'includes/base.html' %}

{% block title %}Settings Page{% endblock %}

{% block content %}
    
<div class="container my-5">
    <h2 class="text-center text-muted">Edit Rule: {{ description }}</h2>

    <p>FILE: {{ filename }}</p>
    <form method="POST">
        <!-- <textarea name="file_content" class="form-control" rows="20">{{ content }}</textarea> -->
        {% for c in content %}
        <div class="list-group-item bg-light shadow-sm mb-3">
            <pre>{{ c }}</pre>
            <div class="d-flex justify-content-end">
                <a href="#" class="btn btn-warning btn-sm mx-2">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
        {% endfor %}

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a href="{{ url_for('rules_ui') }}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>


    {% if show_alert %}
    <script>
        Swal.fire({
            title: 'Configuration',
            text: "{{ message }}",
            icon: '{{ icon }}',
            confirmButtonText: 'Ok'
        });
    </script>
    {% endif %}

{% endblock %}