
{% extends 'includes/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Welcome to ModSecurity Manager</h1>
<p><a href="https://github.com/owasp-modsecurity/ModSecurity">ModSecurity Official Page</a></p>
<p>
    ModSecurity is an open source, cross platform web application firewall (WAF) engine for Apache, IIS and Nginx. It has a robust event-based programming language which provides protection from a range of attacks against web applications and allows for HTTP traffic monitoring, logging and real-time analysis.


</p>
{% endblock %}
